<div id="my-company">
  <img id="company_logo" src="http://localhost:8000/company_sign.png" width="251" height="100" alt="Company logo and info." />
  <div class="number">
    <h4>適格請求書発行事業者登録番号</h4>
    <p>T0123456789012</p>
  </div>
</div>